body {
    background-color: azure;
    display: grid;
    text-align: center;
    justify-items: center;
    justify-content: center;
}

h1{
    font-family: 'Lobster', cursive;
    margin-top: 100px;
    }
    .container{
        width: 100%;
        margin-top: 80px;
}
select{        box-shadow: -1px 0px 20px -2px rgba(0, 0, 0, 0.75);
-webkit-box-shadow: -3px 0px 16px -5px rgba(0, 0, 0, 0.75);
-moz-box-shadow: -3px 0px 16px -5px rgba(0, 0, 0, 0.75);
}